<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="login-box">
      <% if(isVerified) { %>
        <form class="login-form" action="/reset_password" method="POST" id="requestForm">
          <div>
            <label>Password:</label>
            <input placeholder="Password" class="textbox" type="password" name="password" id="password"/>
            <label>Re Enter:</label>
            <input placeholder="Re Enter" class="textbox" type="password" name="re_enter" id="re-enter"/>

            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="email" value="<%= email %>">
          </div>
          <div>
            <button class="login-btn" type="button" onclick="update()">Update</button>
          </div>
        </form>
        <script>
          function update() {
            const password = document.getElementById("password");
            const reEnter = document.getElementById("re-enter");
            if(password.value !== reEnter.value) {
              alert("I think there is a typo");
              return;
            }
            const form = document.getElementById("requestForm");
            form.submit();
          }
        </script>
      <% } else { %>
        <form class="login-form" action="/send_password" method="GET">
          <div>
            <label>Email:</label>
            <input placeholder="Email" class="textbox" type="text" name="email" />
          </div>
          <div>
            <input class="login-btn" type="submit" value="메일 인증" />
          </div>
        </form>
      <% } %>

    </div>
  </body>
</html>
