@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap");

html,
body {
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-weight: 100;
  height: 95%;
}

a {
  color: #000000;
  text-decoration: none;
}
.scriptCalendar {
  text-align: center;
}
.scriptCalendar > thead > tr > td {
  width: 50px;
  height: 50px;
}
.scriptCalendar > thead > tr:first-child > td {
  font-weight: bold;
}
.scriptCalendar > thead > tr:last-child > td {
  background-color: white !important;
}
.scriptCalendar > tbody > tr > td {
  width: 14%;
  height: 18%;
}

.scriptCalendar {
  width: 100%;
  height: 100%;
}

td {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.date_td {
  padding-left: 7%;
  padding-bottom: 7%;
}
